<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gocd-gitlab-artifacts-poller" version="1">
	<about>
		<name>GitLab Artifact Poller</name>
		<version>1.0.0</version>
		<target-go-version>17.8</target-go-version>
		<description>
			GoCD plugin to get build job artifact.
		</description>
		<vendor>
			<name>Cédric Menzi</name>
			<url>https://github.com/cmenzi/gocd-gitlab-artifacts-poller/</url>
		</vendor>
	</about>
</go-plugin>
